.eligibility-container {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
  font-family: "Arial", sans-serif;
  line-height: 1.7;
  color: #333;
  background-color: #fdfdfd;
}

.eligibility-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #141414;
  margin-bottom: 30px;
}

.eligibility-section {
  margin-bottom: 40px;
}

.eligibility-section h2 {
  font-size: 1.6rem;
  color: #161617;
  margin-bottom: 15px;
  border-left: 5px solid #0b3d91;
  padding-left: 10px;
}

.eligibility-section p {
  margin-bottom: 15px;
  font-size: 1rem;
}

.eligibility-section ul {
  margin-left: 20px;
  margin-bottom: 15px;
}

.eligibility-section ul li {
  margin-bottom: 10px;
}

.eligibility-section ul li strong {
  color: #000000;
}

@media (max-width: 768px) {
  .eligibility-container {
    padding: 20px 10px;
  }

  .eligibility-title {
    font-size: 1.8rem;
  }

  .eligibility-section h2 {
    font-size: 1.3rem;
  }
}
