/* .credential-container {
  padding: 40px;
  max-width: 500px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: green;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
} */

/* *************************************************************** */

.cred-container {
  max-width: 600px;
  margin: 30px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cred-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cred-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cred-form input,
.cred-form select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-btn {
  background: #0d47a1;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #08306b;
}
